{% extends 'base.html.twig' %}

{% block title %}Modifier des frais de livraisons{% endblock %}

{% block body %}
    <h1>Modifier des frais de livraisons</h1>

    {{ include('back/deliveries_fees/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_deliveries_fees_index') }}" class="btn btn-primary">Retour à la liste</a>

    {{ include('back/deliveries_fees/_delete_form.html.twig') }}
{% endblock %}
