{% extends 'base.html.twig' %}

{% block title %}New DeliveriesFees{% endblock %}

{% block body %}
    <h1>Create new DeliveriesFees</h1>

    {{ include('back/deliveries_fees/_form.html.twig') }}

    <a href="{{ path('app_back_deliveries_fees_index') }}">back to list</a>
{% endblock %}
