{% extends 'base.html.twig' %}

{% block title %}L'email de réinitialisation de mot de passe a été envoyé{% endblock %}
{% block nav %}{% endblock %}
{% block body %}
    <p> Un email a été envoyé sur votre adresse mail ! Il contient le lien permettant de réinitialiser votre mot de passe.
        Le lien expirera dans 1h.
    </p>
    <p>Si vous n'avez pas reçu d'email, vérifiez vos spams ou <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
{% endblock %}
