{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle Marque{% endblock %}

{% block body %}
    <h1>Créer une nouvelle marque</h1>

    {{ include('back/brand/_form.html.twig') }}

    <a href="{{ path('app_back_brand_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
