{% extends 'base.html.twig' %}

{% block title %}Nouvelle TVA{% endblock %}

{% block body %}
    <h1>Créer une nouvelle TVA</h1>

    {{ include('back/vat/_form.html.twig') }}

    <a href="{{ path('app_back_vat_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
