{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réduction{% endblock %}

{% block body %}
    <h1>Créer une nouvelle réduction</h1>

    {{ include('back/discount/_form.html.twig') }}

    <a href="{{ path('app_back_discount_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
