{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}

{% for message in app.flashes('danger') %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
{% endfor %}

    <h1>Créer un nouvel utilisateur</h1>

    {{ include('back/user/_form.html.twig') }}

    <a href="{{ path('app_back_user_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
