<h1>Une nouvelle commande est arrivée !</h1>

<p>Vous avez une nouvelle commande(réf: #{{order.id}}) à valider, rendez vous dans <a href="http://floriannaud-server.eddi.cloud/projet-09-build-your-home-back/public/back/management/show/{{order.id}}"> votre back office</a>.</p>


<p>Ceci est un email automatique, ne pas y répondre.</p>
